@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

.three-col {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
  "card1 card2 card3";
  width: 1440px;
  margin: 0 auto;
  height: 90vh;
  font-family: 'Lexend Deca', sans-serif;
}

.three-col .card1 {
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
  padding: 40px;
}

.three-col .card2 {
  display: block;
  background-color: hsl(184, 100%, 22%);
  color: hsla(0, 0%, 100%, 0.75);
  padding: 40px;
}

.three-col .card3 {
  display: block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(179, 100%, 13%);
  color: hsla(0, 0%, 100%, 0.75);
  padding: 40px;
}

h1 {
  margin-top: 30px;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 40px;
  color: hsl(0, 0%, 95%);  
  text-transform: uppercase;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  margin: 30px 10px 100px 0px; 
  line-height: 25px;
  width: 210px;
}

.btn {
  border-radius: 50px;
  border: 2px solid hsl(0, 0%, 95%);  
  width: 140px;
  padding: 13px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  color: hsl(0, 0%, 95%);
  background-color: transparent;
}

.btn:focus {
  outline: none;
}

.btn-orange {
  color: hsl(31, 77%, 52%);
}

.btn-darkcyan {
  color: hsl(184, 100%, 22%);
}

.btn-verydarkcyan {
  color: hsl(179, 100%, 13%);
}
